<div class='row'>
  <div class="large-9 columns" role="content">

<ul id="pagination" class='button-group'>
  <% _(animations.first().get('num_pages')).times(function(n) { %>
    <li>
      <a href="#collaborations/<%= n + 1 %>" class="p-button"><%= n + 1 %></a>
    </li>
  <% }) %>
</ul>

  <% animations.each(function(animation) { %>
    <article>
      <h3>
        <% if (animation.escape('finished') == 0) { %>
          <a href="#animations/<%= animation.escape('id') %>">
        <% } %>
          <%= animation.escape('title') %>
        </a>
        <br>
        (<small class='invite'>Invited by <%= animation.escape('owner') %></small>)
      </h3>

      <img src="<%= animation.escape('url') %>">

    </article>

  <% }) %>
  </div>
</div>