<div class='row'>

<div class="large-12 columns">
  <h1>Welcome to exquisite.gif!</h1>
</div>

<div class="large-6 columns" id="cat">
  <%= image_tag("WelcomeCat.gif") %>
</div>

<div class="large-6 columns" id="signin">

<h3>Sign in</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div id="remember" ><%= f.label :remember_me %><%= f.check_box :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => 'button', :id => 'sign-in' %></div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>